Damien Lebrun-Grandie <dalg24@gmail.com>
Damien Lebrun-Grandie <dalg24@gmail.com> <lebrungrandt@ornl.gov>
Damien Lebrun-Grandie <dalg24@gmail.com> <dalg24+github@gmail.com>
Daniel Arndt <arndtd@ornl.gov>
Daniel Arndt <arndtd@ornl.gov> <6da@ornl.gov>
Dan Ibanez <daibane@sandia.gov>
Dan Ibanez <daibane@sandia.gov> <ibaned@users.noreply.github.com>
Jonathan R. Madsen <jonathanrmadsen@gmail.com>
Jonathan R. Madsen <jonathanrmadsen@gmail.com> <jrmadsen@users.noreply.github.com>
Jakob Bludau <jakob.bludau@tum.de>
Jakob Bludau <bludauj@ornl.gov>
Jakob Bludau <bludauj@ornl.gov> <104908666+JBludau@users.noreply.github.com>
Jakob Bludau <bludauj@ornl.gov> <jakob.bludau@tum.de>
Chris Siefert <csiefer@sandia.gov>
Chris Siefert <csiefer@sandia.gov> <csiefer2@users.noreply.github.com>
David Poliakoff <dzpolia@sandia.gov>
David Poliakoff <dzpolia@sandia.gov> <david.poliakoff@gmail.com>
Vivek Kale <vlkale@sandia.gov>
Vivek Kale <vlkale@sandia.gov> <vivek.lkale@gmail.com>
Maarten Arnst <maarten.arnst@uliege.be>
Maarten Arnst <maarten.arnst@uliege.be> <maarten.arnst@ulg.ac.be>

Frank Winkler <frank.winkler@tu-dresden.de>
Frank Winkler <frank.winkler@tu-dresden.de> <frankbook@frankbook.nomad.utk.edu>
Frank Winkler <frank.winkler@tu-dresden.de> <frankbook@franks-air.localdomain>
Frank Winkler <frank.winkler@tu-dresden.de> <frankbook@m016.zih.tu-dresden.de>
